<div class="card m-3">
    <h5 class="card-header">Angular 8 Reactive Form Validation</h5>
    <div class="card-body">
        <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>ID</label>
                    <input type="text" formControlName="Id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Id.errors }" />
                    <div *ngIf="submitted && f.Id.errors" class="invalid-feedback">
                        <div *ngIf="f.Id.errors.required">First Name is required</div>
                        <div *ngIf="f.Id.errors.pattern">Enter only Alphabets</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Name</label>
                    <input type="text" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                        <div *ngIf="f.Name.errors.required">First Name is required</div>
                        <div *ngIf="f.Name.errors.pattern">Enter only Alphabets</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Joining Date</label>
                    <input type="date" formControlName="Joindt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Joindt.errors }" />
                    <div *ngIf="submitted && f.Joindt.errors" class="invalid-feedback">
                        <div *ngIf="f.Joindt.errors.required">First Name is required</div>
                        <div *ngIf="f.Joindt.errors.pattern">Enter only Alphabets</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Designation</label>
                    <select formControlName="Desg" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Desg.errors }">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                    <div *ngIf="submitted && f.Desg.errors" class="invalid-feedback">
                        <div *ngIf="f.Desg.errors.required">First Name is required</div>
                        <div *ngIf="f.Desg.errors.pattern">Enter only Alphabets</div>
                    </div>
                </div></div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Mobile</label>
                    <input type="text" formControlName="Mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }" />
                    <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.Mobile.errors.required"> is required</div>
                        <div *ngIf="f.Mobile.errors.pattern">pattern must be valid</div>
                    </div>
                </div>
            
            <div class="form-group col">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div></div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.pattern">Password must be at least 6 characters</div>
                    </div>
                </div>
            
            <div class="text-center">
                <button class="btn btn-primary mr-1">Register</button>
            </div>
        </form>

    </div>
</div>
<div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Join Date</th>
            <th>Designation</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <tr *ngFor="let item of emp1">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.Joindt}}</td>
            <td>{{item.desg}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.email}}</td>
            <td>{{item.password}}</td>
            
        </tr>
    </table>
</div>

