@model IEnumerable<MyEmployee>
@*@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}*@

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>*@
    <table border="1">
        <tr>
            <td>
                ID:
            </td>
            <td>
                Name:
            </td>
            <td>
                Email:
            </td>
            <td>
                Dept:
            </td>
           
        </tr>
        @foreach (var em in Model)
        {
         <tr>
        <td>@em.Id </td>
        <td>@em.Name </td>
        <td>@em.Email </td>
        <td>@em.dept </td>
         </tr>
        }

    </table>
@*</body>
</html>*@
