@model MyEmployee;
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form asp-action="register" method="post">
    <div>
        <label asp-for="Id">ID</label>
        <input asp-for="Id" />
    </div>
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" required />
    </div>
    <div>
        <label asp-for="dept">Dept</label>
        <input asp-for="dept" required />
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" required />
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>
